/* CSS Reset */
* {
  box-sizing: border-box;
}



body {
  height: 100vh;
  color: #333;
  --type-first: helvetica, Arial, sans-serif;
  --type-second: 'Spectral', Georgia;
  font-family: var(--type-first);
  padding: 10px;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #333;
  margin: 0.3rem 0rem
}