.button {
  font-size: 1rem;
  font-family: var(--type-first);
  border: none;
  border-radius: .4rem;
  cursor: pointer;
  background: rgb(243, 242, 168);
  color: #007BFF;
  padding: 0.8rem 1.2rem;
  margin: 1rem 0rem;
  font-weight: 400;
  transition: 0.3s;
  min-width: 150px;

}

.button:hover,
.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgb(243, 242, 168), 0 0 0 4px #007BFF;
}